<div class="container">
    <header>
        <app-nav></app-nav>
        <h1 class="title">Immersive experiences that deliver</h1>
    </header>
    
    <section class="sec1">
        <img class="img-vr" src="assets/images/desktop/image-interactive.jpg" alt="homem com um vr"/>    
        <div class="text-div">
            <h2>The leader in interactive VR</h2>
            
            <p>Founded in 2011, Loopstudios has been producing world-class virtual reality 
            projects for some of the best companies around the globe. Our award-winning 
            creations have transformed businesses through digital experiences that bind 
            to their brand.</p>
        </div>
    </section>
    
    <section class="sec2">
        <div class="title-button">
            <h2>Our creations</h2>
            
            <a href="#">See all</a>
        </div>
        <div class="galeria">
            <div class="img-galeria img-galeria-1">
                <div class="degrade"></div>
                <h3>Deep <br> earth</h3>
            </div>
            <div class="img-galeria img-galeria-2">
                <div class="degrade"></div>
                <h3>Night <br> arcade</h3>
                
            </div>
            <div class="img-galeria img-galeria-3">
                <div class="degrade"></div>
                <h3>Soccer <br> team VR</h3>

            </div>
            <div class="img-galeria img-galeria-4">
                <div class="degrade"></div>
                <h3>The <br> grid</h3>    
            </div>
            <div class="img-galeria img-galeria-5">
                <div class="degrade"></div>
                <h3>From up <br> above VR</h3>
                
            </div>
            <div class="img-galeria img-galeria-6">
                <div class="degrade"></div>
                <h3>Pocket <br> borealis</h3>
                
            </div>
            <div class="img-galeria img-galeria-7">
                <div class="degrade"></div>
                <h3>The <br> curiosity</h3>
                
            </div>
            <div class="img-galeria img-galeria-8">
                <div class="degrade"></div>
                <h3>Make it <br> fisheye</h3>
                
            </div>
        </div>
    </section>
    
    
    <footer>
        <app-footer></app-footer>
    </footer>    
</div>
