@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

$brightoOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);
$transparentWhite: hsla(0, 0%, 100%, 0.75);
$veryLightGray: hsl(0, 0%, 95%);

@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10vh 5vw;
}

.container{
    width: 100%;
    @include flex(column);
}

.card{
    width: 100%;
    height: 50vh;
    max-height: 400px;
    background-color: red;
    @include flex(column);
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
}

.card1{
    background-color: $brightoOrange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card2{
    background-color: $darkCyan;
}

.card3{
    background-color: $veryDarkCyan;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card__img{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.card1__img{
    background-image: url('../assets/images/icon-sedans.svg');
}

.card2__img{
    background-image: url('../assets/images/icon-suvs.svg');
}

.card3__img{
    background-image: url('../assets/images/icon-luxury.svg');
}

.card h2{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-size: 3em;
    color: $veryLightGray;
}

.card p{
    font-family: 'Lexend Deca';
    font-size: 15px;
    color: $transparentWhite;
    line-height: 25px;
}

.card a{
    text-decoration: none;
    font-family: 'Lexend Deca';
    font-size: 15px;
    background-color: $veryLightGray;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.card a:hover{
    background-color: transparent;
    color: $veryLightGray;
    border: 2px solid $veryLightGray;
}

.card1 a{
    color: $brightoOrange;
}

.card2 a{
    color: $darkCyan;
}

.card3 a{
    color: $veryDarkCyan;
}

@media screen and (min-width: 500px){
    body{
        padding: 10vh 20vw;
    }
    .card{
        height: 100vh;
        max-height: 470px;
    }
}

@media screen and (min-width: 900px){
    body{
        height: 100vh;
    }
    .container{
        flex-direction: row;
        height: 100%;
    }
    .card{
        height: 100%;
        max-height: 550px;
    }
    .card1{
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    .card3{
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
    .card h2{
        margin-top: -20px;
    }
    .card p{
        margin-top: -20px;
    }
    .card a {
        margin-top: 30px;
    }
}