@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;700&display=swap");
.none {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(210deg, 46%, 95%);
  padding: 10vh 5vw;
}

.container {
  width: 100%;
  height: auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 0px hsla(214deg, 17%, 51%, 0.075);
  position: relative;
}

.div-img {
  width: 100%;
  height: 250px;
  background-image: url("../assets/images/drawers.jpg");
  background-repeat: no-repeat;
  background-position: center top 40%;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container-bottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 15px;
}

.div-texts h1 {
  font-size: 20px;
  color: hsl(217deg, 19%, 35%);
}
.div-texts p {
  font-size: 14px;
  color: hsl(214deg, 17%, 51%);
  margin-top: 20px;
}

.div-about-share {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.div-foto-perfil {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url("../assets/images/avatar-michelle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.name-date {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
}

.name-date span:first-child {
  font-weight: 700;
  color: hsl(217deg, 19%, 35%);
}
.name-date span {
  font-size: 14px;
  color: hsl(212deg, 23%, 69%);
}

.share-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: hsl(210deg, 46%, 95%);
  background-image: url("../assets/images/icon-share.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 50%;
  cursor: pointer;
}

.div-share-text {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 7px;
}

.div-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 120px;
  margin-left: -15px;
}

.icons {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.icon1 {
  background-image: url("../assets/images/icon-facebook.svg");
}

.icon2 {
  background-image: url("../assets/images/icon-twitter.svg");
}

.icon3 {
  background-image: url("../assets/images/icon-pinterest.svg");
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row !important;
    max-width: 900px;
    height: 350px;
  }
  .div-img {
    height: 100%;
    background-position: left;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
  }
  .container-bottom {
    padding: 50px 40px 30px;
  }
  .float-share {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: hsl(217deg, 19%, 35%);
    position: absolute;
    right: 0px;
    bottom: 120px;
    box-shadow: 0px 5px 20px 0px hsla(214deg, 17%, 51%, 0.075);
  }
  .float-share::after {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: hsl(217deg, 19%, 35%);
    top: 20px;
    right: 25px;
    transform: rotate(45deg);
    z-index: 0;
    order: 3;
  }
  .div-share-text {
    font-size: 14px;
  }
  .div-icons {
    margin-left: 10px;
    z-index: 2;
  }
  .icons {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .float-share {
    right: -70px;
  }
  .float-share::after {
    right: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
