<footer class="footer-container">
    <div class="footer-1">
        <img src="assets/images/logo.svg" alt="logo">
        <ul>
            <li>About</li>
            <li>Careers</li>
            <li>Events</li>
            <li>Products</li>
            <li>Support</li>
        </ul>
    </div>
    <div class="footer-2">
        <div class="icons-footer">
            <div class="icon icon1"></div>
            <div class="icon icon2"></div>
            <div class="icon icon3"></div>
            <div class="icon icon4"></div>
        </div>
        <p class="text-footer">© 2021 Loopstudios. All rights reserved.</p>
    </div>
</footer>