@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --fundo: #141519;
    --laranja: hsl(25, 97%, 53%);
    --branco: hsl(0, 0%, 100%);
    --cinzaClaro: hsl(217, 12%, 63%);
    --cinza: hsl(216, 12%, 54%);
    --azulEscuro: hsl(213, 19%, 18%);
    --azulMuitoEscuro: hsl(216, 12%, 8%);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.column{
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass';
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo);
}

.container{
    width: 85vw;
    max-width: 380px;
    height: 360px;
    background-color: #1E252F;
    align-items: flex-start;
    padding: 30px;
    border-radius: 15px;
}

#container-question{
    width: 100%;
    height: 100%;
}

#img-star{
    width: 40px;
    height: 40px;
    background-color: var(--azulEscuro);
    background-image: url('../assets/images/icon-star.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 20px;
}

.texts{
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.texts h2{
    color: var(--branco);
}

.texts p{
    color: var(--cinzaClaro);
}

.container-ratings{
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
}

.num-rating{
    width: 40px;
    height: 40px;
    background-color: var(--azulEscuro);
    color: var(--cinza);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    padding-top: 11px;
    cursor: pointer;
    transition: .3s;
}

.num-rating:hover{
    background-color: var(--cinzaClaro);
    color: white;
}

.num-rating-active{
    background-color: var(--laranja);
    color: var(--branco);
}

.num-rating-active:hover{
    background-color: var(--laranja);
}

#btn{
    background-color: var(--laranja);
    width: 100%;
    height: 45px;
    align-self: center;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    cursor: pointer;
    transition: .3s;
}

#btn:hover{
    color: var(--laranja);
    background-color: var(--branco);
}

#img-cell{
    margin-bottom: 20px;
}

#selected{
    margin-bottom: 20px;
    color: var(--laranja);
    background-color: #282F37;
    width: 170px;
    height: 35px;
    border-radius: 20px;
}

#container-thanks h2{
    color: var(--branco);
    margin-bottom: 10px;
}

#thx-p{
    color: var(--cinza);
    text-align: center;
}

.sumir{
    display: none;
}